@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #030014;
  /* Deep Space Black */
  color: white;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4f46e5, #0ea5e9);
  border-radius: 4px;
}

/* Text Selection Color */
::selection {
  background: rgba(56, 189, 248, 0.3);
  color: #fff;
}